
.form{
    display: contents;
    justify-content: center;
    justify-items: center;
    margin: 20px 50px;
}
.input input {
   
    padding-right: 60%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 1% 2%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
}
.menu{
    padding-right: 63%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 1% 2%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
}
.file{
    padding-right: 23%;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 1% 2%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
}
.area{
    padding-right: 7%;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 2% 20%;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: black solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
}



