<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Plats</h1>
        <form #dataplat="ngForm" (ngSubmit)="ajoutPlat(dataplat)" class="form">
                <div class="input">                          
                        <input type="text" name="nom_plat"  ngModel required placeholder="Nom">
                  
                        <input type="number" ngModel name="prix_plat" ngModel required placeholder="Prix">

                        <input type="text" ngModel name="description" ngModel required placeholder="description">

                        <input type="text" ngModel name="ingredients" ngModel required placeholder="ingredient">



                        <label >Choisir Menu:</label>
                        <select name="menu" ngModel style="color: black;" class="menu">
                            <option  value="">--Choisir un menu--</option>
                            <option *ngFor="let m of menus" value="{{m.id_menu}}">{{m.nom_menu}}</option>                  
                        </select> 
                </div>        
                        <div>
                            <input type="file" #file ngModel name="image" ngModel (change)="lirephoto(file.files)" required  accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo" class="file">

                        </div>
                                
                       
                
                <div>
                     <button type="submit" style="background-color: black; padding: 10px 30px;margin: 20px 120px;">Ajouter</button>
                </div>
        </form>
    </div>  

    
</mat-card>
