<app-header></app-header>
<app-sidemenu></app-sidemenu>
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
            <ol class="breadcrumb ms-auto">
              <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
            </ol>
  
          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">

<mat-card style="background-color:white;border-radius: 30px;margin-top: 5%;">
  <mat-icon routerLink="/plat">cancel</mat-icon>
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Plats</h1>
        <mat-card style="width:100% ;justify-items: center;margin-left: 0px;background-color: rgb(240, 236, 232);">
        <form #dataplat="ngForm" (ngSubmit)="ajoutPlat(dataplat)" class="container" autocomplete="off">
                <div class="input">                          
                        <input type="text" name="nom_plat" #nom="ngModel" pattern=".{2,20}"  ngModel required placeholder="Nom" >
                        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                          Respecter le Format svp : max 20 caracteres
                       </div>


                        <input type="number" ngModel name="prix_plat" #prix_plat="ngModel" pattern="[0-9]{4,6}" ngModel required placeholder="Prix">
                        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="prix_plat.valid ||prix_plat.pristine" class="alert alert-danger">
                          Respecter le Format svp : min 4 chiffres
                       </div>

                        <input type="text" ngModel #description="ngModel" pattern=".{2,255}" name="description" ngModel required placeholder="description">
                        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="description.valid ||description.pristine" class="alert alert-danger">
                          Respecter le Format svp : min 20 caracteres max 255
                       </div>

                        <input type="text" ngModel #ingredients="ngModel" pattern=".{2,255}"  name="ingredients" ngModel required placeholder="ingredient">
                        <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="ingredients.valid ||ingredients.pristine" class="alert alert-danger">
                          Respecter le Format svp : min 20 caracteres max 255
                       </div>
                        <input type="file" #file ngModel name="image" ngModel (change)="lirephoto(file.files)" required  accept=".jpg, .jpeg, .png" placeholder="Choisir une Photo" class="file">

                        <select name="menu" ngModel style="color: black;padding-top: 15px;  padding-bottom: 20px;" class="menu">
                          <option  value="">--Choisir un menu--</option>
                          <option *ngFor="let m of menus" value="{{m.id_menu}}">{{m.nom_menu}}</option>                  
                      </select> 
                </div>        
                       
                <div style="display: flex;justify-content: center;">
                     <button type="submit" [disabled]="dataplat.form.invalid" style="background-color: black; padding: 10px 30px;margin: 20px 120px;color: white;">Ajouter</button>
                </div>
        </form>
        </mat-card>
    </div>  

    
</mat-card>
</div>
</div>