<ion-header>
  <ion-toolbar color="warning" >
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-slides [options]="slideOpts" >
  <ion-slide>
    <ion-card color="warning">
      <img src="assets/Images/fauves13_0.jpg"/>
      <P>NOM</P>
    </ion-card>
  </ion-slide>
  <ion-slide  >
    <ion-card color="warning">
      <img src="assets/Images/istockphoto-1295387240-170667a.jpg"/>
      <P>NOM</P>
    </ion-card>
  </ion-slide>
  <ion-slide  >
    <ion-card color="warning">
      <img src="assets/Images/images.jpg"/>
      <P>NOM</P>
    </ion-card>
  </ion-slide>
  <ion-slide  >
    <ion-card color="warning">
      <img src="assets/Images/téléchargement.jpg"/>
      <P>NOM</P>
    </ion-card>
  </ion-slide>
</ion-slides>

<p class="titleMenu">MENU DU JOUR</p>
  <div style="height: 275px;overflow-y: scroll;">

    <div class="order-items" >
      <ion-card *ngFor="let l of liste">
        <ion-img src="{{ image }}{{ l?.id_plat }}" style="width: 100%;margin-top: 0px;" routerLink="/plat-details/{{l?.id_plat}}"></ion-img>
        <ion-card-content>
          <h2 style="text-align: center;color: black ;font-weight: bold;" value="([ngModel])">{{l?.nom_plat}}</h2>
          <ion-item>
            <ion-label class="ion-text-wrap" style="font-size: 15px;" slot="start"> {{ l?.prix_plat}} FCFA</ion-label>
            <ion-label slot="end">
          
            <div>
              <ion-img src="../assets/Images/commander.png" (click)="ajouter(l.id_plat, l)" class="commander"  style="height: 40px;width: 38px;float: right;margin-left: 100px;" ></ion-img>
            </div>
            </ion-label>
          </ion-item>
        </ion-card-content>
      </ion-card>
    </div>
  </div>

</ion-content>
