<app-header></app-header>
<app-sidemenu></app-sidemenu>
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
            <ol class="breadcrumb ms-auto">
              <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
            </ol>
  
          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">


<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;margin: 5%;">
    <div>
        <mat-icon routerLink="/listAdmin">cancel</mat-icon>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Admin</h1>
        <form #dataAdmin="ngForm" (ngSubmit)="AjoutAdmin(dataAdmin)" class="form" autocomplete="off">
            <div>
                <span>
               
                    <input type="text" #nom="ngModel" pattern="[A-Za-z]{2,20}"   placeholder="Nom" name="nom" ngModel>
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="nom.valid || nom.pristine" class="alert alert-danger">
                    Respecter le Format svp : max 20 caracteres
                </div>

                <span>  
                    <input type="text"  #prenom="ngModel" pattern="[A-Za-z]{2,20}" placeholder="Prenom" name="prenom" ngModel>
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="prenom.valid || prenom.pristine" class="alert alert-danger">
                    Respecter le Format svp : max 20 caracteres
                </div>


                <span>
                    
                    <input type="text"  #adresse="ngModel" pattern=".{3,30}" placeholder="Adresse" name="adresse" ngModel>
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="adresse.valid || adresse.pristine" class="alert alert-danger">
                    Respecter le Format svp : max 30 caracteres
                </div>


                <span>
                    <input type="number" #telephone="ngModel" pattern="[0-9]{8,14}" required placeholder="Tel" name="telephone" ngModel >
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="telephone.valid || telephone.pristine" class="alert alert-danger">
                    Respecter le Format svp : max 13 chiffres min 8chiffres
                </div>


                <span>
                    <input type="email" #email="ngModel" required placeholder="Email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$" ngModel>
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="email.valid || email.pristine" class="alert alert-danger">
                    Respecter le Format svp : xxx@yyyyy.com  min 4 caracteres max 10 caracteres
                </div>


                <span>
                    <input type="text"  placeholder="Login" name="login" #login="ngModel" pattern="[A-Za-z].{4,10}" required ngModel>
                </span>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="login.valid || login.pristine" class="alert alert-danger">
                    Respecter le Format svp : aAzZ  min 4 caracteres max 10 caracteres
                </div>


                <span>
                    <input type="text"  required placeholder="Mot de pase" name="motdepasse" #motdepasse="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,8}"  ngModel id="pass">
                </span>
                <div   style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="motdepasse.valid || motdepasse.pristine" class="alert alert-danger">
                    Respecter le Format svp : exemple Azer14.  min 6 caracteres max 8 caracteres
                </div>
                <span>
                   

                    <select name="genre" ngModel style="color: black;">
                        <option value="">--Choisir un genre--</option>
                        <option value="M">M</option>
                        <option value="F">F</option>
                        
                    </select>
                    
                    <!-- <input type="text"  required placeholder="Genre" name="genre" ngModel> -->
                </span><br>
                <span>
                    

                    <select name="profil" ngModel style="color: black;">
                        <option value="">--Choisir un profil--</option>
                        <option value="admin">admin</option>
                        <option value="superadmin">superadmin</option>
                        
                    </select>
                </span>
            </div><br>
           
            <div style="display: flex;justify-content: center;">  
                <button type="submit" [disabled]="dataAdmin.form.invalid" style="background-color: black; padding: 10px 50px;margin: 20px 120px; color: white;">Ajouter</button>
            </div>
        </form>
    </div>  

    
</mat-card>
    </div>
  </div>
