<ion-header>
  <ion-toolbar>
    <div class="entetePlat">
      <ion-back-button [routerLink]="['/tabs/tabs/tab1']">Accueil</ion-back-button>
      <!-- <ion-title>PlatDetails</ion-title> -->
    </div>
    </ion-toolbar>
</ion-header>

<ion-content >
  <ion-grid >
    
        <ion-col >
          <div class="ingredient">
            
            <ion-card style="background-color: rgb(238, 136, 41);">
              <ion-img src="{{image}} {{Plat?.id_plat}}" style="width: 90% ;height: 3%; margin: 10px 10px;" class="ingredient"></ion-img>
              <div class="nom" style="color: black;font-weight: bold;text-align: center;font-size: large;">
                {{Plat?.nom_plat}}
              </div><br><br>
              <div class="nom" style="color: black;font-weight: bold;text-align: center;font-size: large;width: 100%;">
                {{Plat?.prix_plat}}
              </div><br>
              <h5 style="color: rgb(243, 236, 236);">{{Plat?.ingredients}}</h5>
              <ion-img src="../assets/Images/commander.png" class="commander"  style="height: 40px;width: 40px;" (click)="ajouter(l.id_plat, l)"></ion-img>
              <!-- <input type="number" placeholder="0" style="width: 50px;float: right;"> -->
            </ion-card>
          </div>
        </ion-col>
  </ion-grid>
</ion-content>

