

<ion-content class="c" >
  
    <div >
    <ion-img src="../assets/Images/logo.PNG"></ion-img>
    </div>
  
  <p class="titleMenu">My Custo</p>
  <div style="background-color: orange;border-radius: 20px;">
    <ion-card style="padding-top: 0px;padding-bottom:0px;border-radius: 20px;margin-left: 0%;">
      <ion-card-content style="background-color: white;">
          <form #loginForm="ngForm" (ngSubmit)="getLogin(loginForm)" >
            <ion-item>
              <ion-label position="floating">Login</ion-label>
              <ion-input class="input1" type="text" name="login" ngModel style="border-radius: 10px;"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" name="motdepasse" ngModel></ion-input>
            </ion-item>
            <span>
              <button class="btn1" type="submit" >Connecter</button>
              <button style="color: white;" class="btn2"  routerLink="'/inscription'" routerLinkActive="router-link-active" [routerLink]="['/inscription']">S'inscrire</button>
            </span>
          </form>
      </ion-card-content>
    </ion-card>
  </div>
  

</ion-content>


