

.plus{
    display:block;
    float:right;
    margin-right: 30px;
    color: orangered;
    }

    .corbeille{
        display:block;
        float:right;
        margin-right: 30px;
        color: orangered;
        }

   

    .icon{
        display:block;
        float:right;
        padding: auto;
        margin-left: 50%;
        margin-right: 10%;
        
       
    }
   
.col-md-3 {
    display: block;
    flex-direction: column;
    width: 320px;
    // height: 500px;
    margin: 10px 20px;
    background-color: white;

  }


  .col-md-3:hover{
      background-color: rgb(205, 207, 207);
  }
  
  .image {
      
      width: 100%;
      height: 200px;
    background-size: cover;
  }
  