
<mat-icon class="plus" routerLink="/ajoutAdmin">add_circle_outline</mat-icon>

<h1 style="text-align: center;">Les administrateurs</h1>

  <table mat-table class="mat-elevation-z8 demo-table">
   
    <ng-container matColumnDef="position" *ngFor="let admin of administrateurs">
     <tr >
        <td  style="font-size: 20px;padding: 20px 20px;border-bottom: 4px solid white;">{{admin.nom}}</td>
        <td  style="font-size: 20px;padding: 20px 20px;border-bottom: 4px solid white;">{{admin.prenom}}</td>
        <td  style="font-size: 20px;padding: 20px 20px;border-bottom: 4px solid white;">{{admin.telephone}}</td>
        <td>
            <div class="icon">
                <mat-icon style="color: orange;"  (click)="btnmodif(admin.id_admin)">create</mat-icon><br>
               
            </div>
        </td>
        <td>
            <div class="icon">
               
                <mat-icon style="color: red;" (click)="SuppAdmin(admin.id_admin)" >delete</mat-icon>
            </div>
        </td>

     </tr>
      
      
    </ng-container>
  
  </table>