
.form{
    display: block;
    justify-content: center;
    justify-items: center;
    margin: 20px 20px;
}
.form input{
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 10px 5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: rgb(161, 159, 159) solid 3px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(246, 245, 245) ;
    
    
}

