<app-header></app-header>
<app-sidemenu></app-sidemenu>
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
            <ol class="breadcrumb ms-auto">
              <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
            </ol>
  
          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">


<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;margin: 100px 50px;">
  <mat-icon routerLink="/menu">cancel</mat-icon>
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Ajouter Menu</h1>
        <form  #datamenus="ngForm"  (ngSubmit)="ajoutmenu(datamenus)" class="form" autocomplete="off">
               
                <input type="text" #nom_menu="ngModel" pattern="[A-Za-z]{2,20}" placeholder="NomMenu" name="nom_menu" ngModel>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="nom_menu.valid || nom_menu.pristine" class="alert alert-danger">
                  Respecter le Format svp : max 20 caracteres
                </div>

                <input type="text" #description_menu="ngModel" pattern=".{20,255}" placeholder="Description" name="description_menu" ngModel>
                <div style="font-size: 10px;margin-top: 10px; color: rgb(247, 12, 12);" [hidden]="description_menu.valid || description_menu.pristine" class="alert alert-danger">
                  Respecter le Format svp :min 20caracteres max 255
                </div>

                <input type="date" placeholder="Description" name="d" ngModel>

                <div style="display: flex;justify-content: center;">
                  <button type="submit" [disabled]="datamenus.form.invalid" style="background-color: black;color: white;">Ajouter</button>
                </div>
           
            <div>
                
              
            </div>
        </form>
    </div>  
</mat-card>

<div>
</div>
