<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon Panier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <!-- <ion-item>
    <div style="position:fixed;width: 100%;background-color: black;">
      <ion-button color="success" type="submit" style="margin-left: 50px;" (click)="ajoutCommande()">Commander</ion-button>
    </div>
  </ion-item> -->
  <ion-item>
    <div style="position:fixed;width: 100%;background-color: black;">
      <ion-button color="success" type="submit" style="margin-left: 50px;" routerLink="/valider-commande">Commander</ion-button>
    </div>
  </ion-item>
    
  <!-- <span>
    <div class="unecommande">
      <ion-card *ngFor="let p of panierList" style="margin: 60px 40px;background-color: rgb(240, 174, 51);"> 
        <div style="display: flex;">
          <ion-icon name="close-outline" style="color: red;height: 50px;width: 30px;margin-left: 120px;" (click)="supprimer(p.id_panier)" ></ion-icon>

        </div>
               
          <ion-img src="{{image}} {{p.plat.id_plat}}" style="height:50%;width: 95%;margin: 5px 5px;" class="ingredient"></ion-img>
        <div class="nom" style="color: black;font-weight: bold;text-align: center;font-size: large;margin-top: 10px;">
          {{p.plat.nom_plat}} 
        </div>
        <div class="nom" style="color: black;font-weight: bold;text-align: center;font-size: large;margin-top: 10px;">
          {{p.plat.prix_plat}} FCFA
        </div> 
      </ion-card>
      <ion-item *ngFor="let p of panierList" style="margin: 60px 0px;">
        <ion-thumbnail slot="start">
          <img src="{image}} {{p.plat.id_plat}}">
        </ion-thumbnail>
        <ion-label>
          <h3>  {{p.plat.nom_plat}} </h3>
          <p>{{p.plat.prix_plat}} FCFA</p>
        </ion-label>
        
      </ion-item>
    </div>
  </span> -->

  <ion-card *ngFor="let p of panierList" style="margin-top: 5px;">
    <ion-item>
      <ion-icon slot="end" name="close-circle-outline" (click)="supprimer(p.id_panier)" ></ion-icon>
    </ion-item>
    <ion-item >
      <ion-thumbnail slot="start">
        <img src="{{image}} {{p?.plat?.id_plat}}">
      </ion-thumbnail>
      <ion-label>
        <ion-card-subtitle> {{p?.plat?.nom_plat}}</ion-card-subtitle>
      <ion-card-title style="font-size: 12px;">  {{p?.plat?.prix_plat}} FCFA</ion-card-title>
      </ion-label>
    </ion-item>
    <ion-card-content>
      <ion-item>
        <ion-label>Quantite: 
          <span style="color: orange;" *ngIf="quantite === 1">{{p?.quantite}}</span>
          <!-- <span style="color: orange;" *ngIf="quantite !== 1">{{quantite}}</span> -->
        </ion-label>
        <ion-button fill="clear" (click)="update(p.id_panier,p.quantite, p)">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        
      </ion-item>
    </ion-card-content>
  </ion-card>
 

</ion-content>
