
    .container{
        flex-direction: column;
        align-items: center;
        margin-top: 2%;
    }
    .col-md-4{
        display: block;
        justify-content: start;
        align-items: center;
        margin: 10px 10px;
        height: 150px;
        width: 150px;
        background-color: white;
        
        
    }
    .col-md-4:hover{
        background-color: rgb(153, 152, 149);
    }
    .icon{
        display:block;
        float:right;
       
    }