
.form{
    display: flex;
    justify-content: center;
    justify-items: center;
    margin: 0px 20px;
}
.form input{
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 5px 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: rgb(148, 144, 144) solid 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
    
    
}
.form select{
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 5px 10px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: rgb(155, 152, 152) 4px ;
    color: black;
    font-size: large;
    text-align: left;
    background-color: rgb(219, 214, 214) ;
    
    
}


