
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title" style="font-size: 18px;"></h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
            <ol class="breadcrumb ms-auto">
              <li><a href="#" class="fw-normal text-success" style="font-weight: bold;"></a></li>
            </ol>
  
          </div>
        </div>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">

<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
  <mat-icon (click)="close()">cancel</mat-icon>
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Modifier Admin</h1>
        <form  [formGroup]="adminAmodif"  (submit)="modifAdmin()"  class="form" >
            <div>
                <span>
                    <!-- <label for="" >Nom</label> -->
                    <input type="text"  required placeholder="Nom" formControlName="nom">
                </span>
                <span>
                   <!-- <label for="">Prenom</label> -->
                    <input type="text"  required placeholder="Prenom" formControlName="prenom">
                </span><br>
                <span>
                    <!-- <label for="">Adresse</label> -->
                    <input type="text"  required placeholder="Adresse" formControlName="adresse">
                </span>
                <span>
                  <!-- <label for="">Tel</label> -->
                    <input type="number"  required placeholder="Tel" formControlName="telephone" >
                </span><br>
                <span>
                  <!-- <label for="">Email</label> -->
                    <input type="email"  required placeholder="Email" formControlName="email">
                </span>
                <span>
                  <!-- <label for="">Log</label> -->
                    <input type="text"  required placeholder="Login" formControlName="login">
                </span>
                <span><br>
                  <select type="text"  required placeholder="Genre" formControlName="genre" style="color: black;">
                    <option value="">--Choisir un genre--</option>
                    <option value="M">M</option>
                    <option value="F">F</option>
                    
                </select>
                    <!-- <input type="text"  required placeholder="Genre" formControlName="genre"> -->
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Profil" formControlName="profil">
                </span>
                <div style="display: flex;justify-content: center;">  
                    <button type="submit" style="background-color: black; padding: 10px 3px;margin: 5px 15px;color: aliceblue;">Enregistrer</button>
                </div>
            </div><br>
           
            
        </form>
    </div>  

    
</mat-card>
    </div>
  </div>
