
      <app-header></app-header>
      <app-sidemenu></app-sidemenu>
        <div class="page-wrapper" style="background-color: white;">
            <div class="page-breadcrumb bg-white">
              <div class="row align-items-center">
                <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                  <!-- <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4> -->
                </div>
                <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                  <div class="d-md-flex">
                    <!-- <ol class="breadcrumb ms-auto">
                      <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
                    </ol> -->
          
                  </div>
                </div>
              </div>
              <!-- /.col-lg-12 -->
            </div>
            <div class="container-fluid" style="display: block;justify-content: center;margin-top: 10%;margin-bottom: 20%;" >
             <img src=".\assets\images\img.jpg" alt="" srcset="" style="width: 500px;height: 300px;margin-left: 30%;margin-right: 30%;"><br><br>
              
              <!-- <img src=".\assets\images\LOGO.png" alt="" srcset="" style="margin: auto;"><br> -->
              <div class="messagedefilant">
                <div data-text="Passez un très bon moment de travail !" style="font-size: large;" ><span>Excellente journée!!!---</span></div>
              </div>
          

              
              <!-- ============================================================== -->
             
          
             
          
            </div>
          </div>