<ion-header>
  <ion-toolbar>
    <ion-title>page inscription</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="client" (ngSubmit)="InsCl(client)" novalidate >
      <ion-item>
        <ion-label position="floating">Nom</ion-label>
        <ion-input class="input1" type="text" formControlName="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Prenom</ion-label>
        <ion-input type="text" formControlName="prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Tel</ion-label>
        <ion-input type="phone" formControlName="telephone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input type="password" formControlName="motdepasse"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Login</ion-label>
        <ion-input type="text" formControlName="login"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Adresse</ion-label>
        <ion-input type="text" formControlName="adresse"></ion-input>
      </ion-item>
    <ion-button type="submit" class="btn" >S'inscrire</ion-button>
  </form>
</ion-content>
