<mat-card style="background-color: rgb(255, 255, 255);border-radius: 30px;">
    <div>
        <h1 style="text-align: center;color: black;font-weight: bold;">Modifier Admin</h1>
        <form  [formGroup]="adminAmodif"  (submit)="modifAdmin()"  class="form" >
            <div>
                <span>
               
                    <input type="text"  required placeholder="Nom" formControlName="nom">
                </span>
                <span>
                   
                    <input type="text"  required placeholder="Prenom" formControlName="prenom">
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Adresse" formControlName="adresse">
                </span>
                <span>
                    <input type="number"  required placeholder="Tel" formControlName="telephone" >
                </span>
                <span>
                    <input type="email"  required placeholder="Email" formControlName="email">
                </span>
                <span>
                    <input type="text"  required placeholder="Login" formControlName="login">
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Genre" formControlName="genre">
                </span>
                <span>
                    
                    <input type="text"  required placeholder="Profil" formControlName="profil">
                </span>
            
            </div><br>
           
            <div>  
                <button type="submit" style="background-color: black; padding: 10px 50px;margin: 20px 120px;">Enregistrer</button>
            </div>
        </form>
    </div>  

    
</mat-card>
