
  <div class="page-wrapper">
    <div class="page-breadcrumb bg-white">
      <div class="row align-items-center">
        <!-- <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
          <h4 class="page-title" style="font-size: 18px;">ACCUEIL</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
          <div class="d-md-flex">
            <ol class="breadcrumb ms-auto">
              <li><a href="#" class="fw-normal text-success" style="font-weight: bold;">PUBLIER UNE ANNONCE</a></li>
            </ol>
  
          </div>
        </div> -->
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <div class="container-fluid">
     
<mat-card style="background-color: rgb(193, 196, 196);border-radius: 30px;margin-top: 5%;">
 
    <div>
      <mat-icon (click)="close()">cancel</mat-icon>
        <h1 style="text-align: center;color: black;font-weight: bold;">Modification Menu</h1>
        <form  class="form" #data="ngForm" (onSubmit)="modifmenu(data)">
            <div>
                <label for=""></label>
               <input type="text" placeholder="Nom_menu" ngModel name="nom_menu" [(ngModel)]="menu.nom_menu" style="color: black;">
            </div>
            <div>
                <label for=""></label>
               <input type="text" placeholder="Description" ngModel name="description_menu" [(ngModel)]="menu.description_menu" style="color: black;">
            </div>
            <div>
                <select name="menujour" name="menujour" ngModel  [(ngModel)]="menu.menujour" style="color:black;">
                    <option  value="">--Choisir un jour--</option>
                    <option value="Lundi">Lundi</option>                  
                    <option value="Mardi">Mardi</option>                  
                    <option value="Mercredi">Mercredi</option>                  
                    <option value="Jeudi">Jeudi</option>                  
                    <option value="Vendredi">Vendredi</option>                  
                    <option value="Samedi">Samedi</option>                  
                    <option value="Dimanche">Dimanche</option>                  
                </select> 
            </div>
            
            
            
            <!-- <div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div><div>
                <label for=""></label>
                <input type="text" value="">
            </div> -->
            <div>
                
                <button type="submit" style="background-color: black;color: aliceblue; padding: 10px 20px;margin: 20px 120px;">Modifier</button>
            </div>
        </form>

    </div>    
    
</mat-card>

    </div>
  </div>