*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.example-card{
    margin-bottom: 15px;
     margin-right: 10px;
     margin-left: 10%;
     width: 80%;
     background-color: white; 

}

.example-card:hover{
    background-color: rgb(216, 214, 214);
}