
<ion-header>

  <div class="header">
    <h2>Client1</h2>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <ion-img src="../assets/Images/menudujour.jpg"></ion-img>
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content>
  <ion-card>
    client1
    <br>
    contact 24256
    <br>
    EMAIL sdd@gmail.com
  </ion-card>
  <br>
  <br>
  <ion-button  shape="round" class="modifier" color="black" [routerLink]="['/modifier-info-client']">
    Modifier
  </ion-button>
</ion-content>
