
<ion-header>

  <div class="header">
    <h2 style="margin-top: 40px;">{{client.nom}}   {{client.prenom}}</h2>
    <h2>{{client.telephone}}</h2>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <ion-img src="../assets/Images/menudujour.jpg"></ion-img>
        </div>
      </div>
    </div>
  </div>
</ion-header>
<ion-content style="display: flex;">
  <ion-item lines="none">
    <ion-button   shape="round"  color="black"  [routerLink]="['/tabs/tabs/tab1']" >
      Retour
    </ion-button>
    <ion-button slot="end"  shape="round" class="modifier" color="black" [routerLink]="['/modifier-info-client/', client.id_client]">
      Modifier
    </ion-button>
  </ion-item>
 
</ion-content>
