
<ion-header >
  <ion-toolbar>
    <button type="submit"  style="float: left;margin-top: 10px;background-color: rgb(248, 246, 242);" [routerLink]="['/modifier-info-client/', client.id_client]">Modifier</button>
    
    <button  (click)="logOut()" style="background-color: rgb(10, 9, 9);font-size: large;color: rgb(250, 245, 245);margin-top: 30px;float: right;">deconnexion</button> 
  </ion-toolbar>

  <div class="header">
    
    <h4 style="margin-top: 60px;text-align: center;">{{client?.nom}}   {{client.prenom}}</h4>
    <h2>{{client.telephone}}</h2>
  </div>
  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <ion-img src="../assets/Images/menudujour.jpg"></ion-img>
        </div>
      </div>
    </div>
  </div>
  
</ion-header>
<ion-content  fullscreen="true">
  
 
<h2>Vous etes excepttionnel</h2>
</ion-content>

